@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat';

}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

h1 {
	font-size: 50px;
	text-align: center;
	color: white;
}

.bar {
  display: flex;
}

.bar h2 {
	float: left;
	margin-top: 120px;
	border: solid;
	padding: 20px 50px;
	margin-left: 150px;
	border-radius: 25px;
	transition-duration: 0.6s;
}

.bar h2:hover {
  background-color: black;
  color: white;
}

.unit {
  flex: 1;
}

#desc {
    margin-left: 12%;
    margin-right: 12%;
}