@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

img {
	display: block;

	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: white;

	text-align: center;

	font-size: 50px;
	font-family: 'Montserrat';
}

hr {
	margin: 50px 12%;
	background-color: gray;
}

#actions {
	display: flex;

	margin-top: 175px;
	margin-left: 12%;
	margin-right: 12%;
}

#actions h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 60px;
	
	border: solid;
	border-radius: 25px;
	
	padding: 20px 50px;
	
	text-align: center;
	font-family: 'Montserrat';

	transition-duration: 0.6s;
}

#actions h2:hover {
	background-color: black;
	color: white;
}

.action {
  	flex: 1;
}

.main {	
    margin-left: 12%;
	margin-right: 12%;
}

.main .welcome {
	color: black;

	font-size: 18px;
	font-family: 'Work Sans';
}

.main .heading {
	margin-top: 45px;
	font-family: 'Montserrat';
}

.main .desc {
	color: gray;

	font-size: 17px;
	font-family: 'Work Sans';
}