@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#title #tag {
	width: 27%;
}

#main {	
	margin-left: 12%;
	margin-right: 12%;
}

#main hr {
	background-color: gray;
}

#main .heading {
	color: rgb(231, 231, 231);
	
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
}

#main .desc {
	color: rgb(156, 156, 156);

	font-size: 17px;
	font-family: 'Work Sans';
}


.footnote {
	background-color: grey;
	
	margin-left: 10%;
	margin-right: 10%;
}

.footnote p {
	color: rgb(168, 0, 168);


	font-size: 17px;
	font-family: 'Work Sans';
}