@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

#title canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
}

#title img {
    display: block;

    margin-left: auto;
    margin-right: auto;
}

#title h1 {
    color: black;

    text-align: center;

    font-family: 'Montserrat';
}

#title hr {
	background-color: gray;
	
	position: relative;
	z-index: -1;
	
	border: solid;
	border-color: gray;
	border-width: 3px;
	border-radius: 5px;
	
	top: 88px;
}

#release {
	background-color: white;
	color: gray;
	
	width: 20%;
	
	margin: auto;
	margin-top: 68px;
	
	border: solid;
	border-color: black;
	border-radius: 10px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	
	text-align: center;
	font-family: 'Anonymous Pro';
}

#release b {
	color: black;
}

#actions {
	display: flex;
	
	margin-top: 50px;
	margin-left: 12%;
	margin-right: 12%;
	margin-bottom: 50px;
}

#actions a {
	color: black;
	text-decoration: none;
}

#actions h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20%;
	margin-right: 20%;
	
	border: solid;
	border-radius: 25px;
	
	padding-top: 8%;
	padding-bottom: 8%; /*20*/
	
	text-align: center;
	font-family: 'Montserrat';

	transition-duration: 0.6s;
}

#actions h2:hover {
	background-color: black;
	color: white;
}

.action {
	flex: 1;
}

#main {	
    margin-left: 12%;
    margin-right: 12%;
}

#main h1 {
    color: black;

    text-align: center;

    font-size: 50px;
    font-family: 'Montserrat';
}

#main hr {
    background-color: gray;
    
    margin-top: 50px;
    margin-bottom: 50px;
}

#main h2 {
    color: black;

    margin-top: 50px;

    font-family: 'Montserrat';
}

#main h3 {
    color: gray;

    margin-top: 30px;

    font-size: 18px;
    font-family: 'Work Sans';
}

#main a {
    color: gray;
    text-decoration: underline;
}

#main a:hover {
    color: rgb(0, 195, 255);
}

#main a:active {
    color: rgb(0, 100, 255);
}

#main p, #main ul li {
	color: gray;

	font-size: 17px;
	font-family: 'Work Sans';
}