@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
}

body {
	background-color: black;
}

#main {	
	margin-left: 12%;
	margin-right: 12%;
}

#main hr {
	background-color: gray;
}

#main h2 {
	color: rgb(231, 231, 231);
	
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
}

#main a {
    color: #eee;
    text-decoration: none;
}

#main a:hover {
    text-decoration: underline;
}

#main a:active {
    color: rgb(0, 195, 255);
}

#main a:visited {
	color: #eee;
}

#main .desc {
	color: rgb(156, 156, 156);

	font-size: 17px;
	font-family: 'Work Sans';
}