canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
}

#title img {
	display: block;

	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#title h1 {
	color: white;

	text-align: center;

	font-size: 50px;
	font-family: 'Montserrat';
}

#title hr {
	background-color: gray;
	
	position: relative;
	z-index: -1;
	
	border: solid;
	border-color: gray;
	border-width: 3px;
	border-radius: 5px;
	
	top: 88px;
}

#title #tag {
	background-color: white;
	color: gray;
	
	margin: auto;
	margin-top: 68px;
	
	border: solid;
	border-color: black;
	border-radius: 10px;
	
	padding-top: 5px;
	padding-bottom: 5px;
	
	text-align: center;
	font-family: 'Anonymous Pro';
}

#title #tag b {
	color: black;
}

#title #actions {
	display: flex;
	
	margin-top: 50px;
	margin-left: 12%;
	margin-right: 12%;
	margin-bottom: 50px;
}

#title #actions a {
	color: black;
	text-decoration: none;
}

#title #actions h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20%;
	margin-right: 20%;
	
	border: solid;
	border-radius: 25px;
	
	padding-top: 8%;
	padding-bottom: 8%;
	
	text-align: center;
	font-family: 'Montserrat';

	transition-duration: 0.6s;
}

#title .action {
    flex: 1;
}

#title .action h2:hover {
	background-color: black;
	color: white;
}

body .gist .gist-file {
	margin-top: 30px;
	margin-bottom: 30px;

    width: 100%;
}

body .gist .blob-num {
  display: none;
}

body .gist .blob-code {
	background-color: white;
	color: black;
}

body .gist .gist-meta {
    display: none;
}

body .gist .gist-data {
    border-bottom: none;
}

body .gist ::selection {
    background: rgb(150, 150, 150);
}