@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

#main {	
	background-color: rgb(10, 10, 10);

	margin-left: 12%;
	margin-right: 12%;
}

#main hr {
	background-color: gray;
}

#main h2 {
	color: rgb(209, 208, 208);
	
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
}

#main a {
    color: #eee;
    text-decoration: none;
}

#main a:hover {
    text-decoration: underline;
}

#main a:active {
    color: rgb(0, 195, 255);
}

#main a:visited {
	color: #eee;
}

#main .desc {
	color: rgb(156, 156, 156);

	font-size: 17px;
	font-family: 'Work Sans';
}