@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

#title img {
	display: block;

	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#title h1 {
	color: #eee;

	text-align: center;

	font-size: 50px;
	font-family: 'Montserrat';
}

#title hr {
	background-color: gray;

	position: relative;
	z-index: -1;

	border: solid;
	border-color: gray;
	border-width: 3px;
	border-radius: 5px;

	top: 88px;
}

#title #tag {
    background-color: #eee;
	color: gray;

    width: 27%;

	margin: auto;
	margin-top: 68px;

	border: solid;
	border-color: black;
	border-radius: 10px;

	padding-top: 5px;
	padding-bottom: 5px;

	text-align: center;
	font-family: 'Anonymous Pro';
}

#title #tag b {
	color: black;
}

#title #actions {
	display: flex;

	color: #eee;

	margin-top: 50px;
	margin-left: 12%;
	margin-right: 12%;
	margin-bottom: 50px;
}

#title #actions a {
	color: #eee;
	text-decoration: none;
}

#title #actions p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20%;
	margin-right: 20%;

	border: solid;
	border-radius: 25px;

	padding-top: 8%;
	padding-bottom: 8%;

	text-align: center;
	font-family: 'Montserrat';

	font-size: 2vmax;
	transition-duration: 0.6s;
}

#title #actions .current-page {
	color: rgb(129, 129, 129)
}

#title #actions .not-available {
	color: rgb(150, 90, 90)
}

#title #actions .current-page:hover {

	color: rgb(129, 129, 129)
}

#title #actions .not-available:hover {
	background-color: rgb(255, 90, 90)
}

#title .action {
    flex: 1;
}

#title .action p:hover {
	background-color: #eee;
	color: black;
}
